body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

.container{
    /* background-color: green; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#game{
    /* background-color: red; */
    width: 50em;
    height: 60em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#darth-vader{
    /* background-color: red; */
    width: 50em;
    height: 59.2em;
    margin: auto;
    background-image: url("img/Darth\ Vader\ Helmet.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#star-wars-logo{
    /* background-color:red; */
    width: 45em;
    height: 7.5em;
    background-image: url("img/Star-Wars-Maze-Of-Death.svg");
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    padding-bottom: 5em;
}

#intro-screen{
    background-color: #111;
    position: absolute;
    width: 600px;
    height: 450px;
    margin-top: 6.2em;
    padding: 3em 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
}
#intro-screen button{
    width: 10em;
    height: 3em;
    align-self: center;
    margin-top: 3em;
    background-color: Transparent;
    color: white;
    border: 1px solid white;
    outline: none;
    box-shadow: 0 0 20px red;
    transition: width 0.5s, font-weight 0.3s;
}
#intro-screen button:hover{
    box-shadow: 0 0 20px #1febfd;
    cursor: pointer;
    width: 40em;
    font-weight: bold;
}
#intro-screen p{
    font-size: 1.3em;
    text-align: center;
    line-height: 1.8em;
    margin: 0;
}
#intro-screen h2{
    align-self: center;
    letter-spacing: 1.2em;
    padding: 1.5em 0 1em 0;
    /* text-shadow: 0 0 20px red; */
}

.p-shrink{
    width: 450px;
    align-self: center;
    padding-top: 1em;
}

span{
    font-weight: bold;
}

#arrow-keys{
    width: 10em;
    height: 8em;
    filter: invert(1);
    align-self: center;
}

#canvas{
    border: 2px solid white;
    outline: none;
    box-shadow: 0 0 30px white;
}

#out{
    color: white;
}

.end-game{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 600px;
    height: 450px;
    margin-top: 6.2em;
    padding: 3em 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: hidden;
}

.win h1{
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 0.3em;
    text-shadow: 0 0 20px #1febfd;
    padding: 0;
    margin: 0 0 20px 0;
}

.win p{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.3em;
    padding: 0;
    margin: 0;
}

.game-over h1{
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 0.3em;
    text-shadow: 0 0 20px red;
    padding: 0;
    margin: 0 0 20px 0;
}

.game-over p{
    width: 23em;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 2em;
    margin: 0;
}

.play-again{
    width: 10em;
    height: 3em;
    align-self: center;
    margin-top: 3em;
    background-color: Transparent;
    color: white;
    border: 1px solid white;
    outline: none;
    transition: width 0.5s, font-weight 0.3s;
}

.red{
    box-shadow: 0 0 20px red;
}

.red:hover{
    box-shadow: 0 0 20px red;
    cursor: pointer;
    width: 40em;
    font-weight: bold;
}

.blue{
    box-shadow: 0 0 20px #1febfd;
}

.blue:hover{
    box-shadow: 0 0 20px #1febfd;
    cursor: pointer;
    width: 40em;
    font-weight: bold;
}

.span-play-again{
    color: rgba(255,255,255,0.5);
    margin-top: 3em;
    letter-spacing: 0.2em;
}